
        <div class="content-padder content-background">
            <div class="uk-section-small uk-section-default header">
                <div class="uk-container uk-container-large">
                    <h1><span class="ion-speedometer"></span> Dashboard</h1>
                    <p>
                        Welcome back, Èrik Campobadal
                    </p>
                    <ul class="uk-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><span href="">Dashboard</span></li>
                    </ul>
                </div>
            </div>
            <div class="uk-section-small">
                <div class="uk-container uk-container-large">
                    <div uk-grid class="uk-child-width-1-2@s uk-child-width-1-6@m uk-child-width-1-6@xl">
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text">visits</span><br>
                                    <span class="uk-label uk-label-success">
                                       {{visit['VisitsCount']}} 
                                    </span>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text">users</span><br>
                                <span class="uk-label uk-label-success">
                                    {{visit['UsersCount']}}  
                                </span>
                        </div>
                    </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text">countries</span><br>
                                <span class="uk-label uk-label-success">
                                    {{visit['countryCount']}}  
                                </span>
                        </div>
                    </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text">social</span><br>
                                <span class="uk-label uk-label-success">
                                    {{visit['socialCount']}} 
 
                                </span>
                        </div>
                    </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text">languges</span><br>
                                <span class="uk-label uk-label-success">
                                    {{visit['langugeCount']}} 
 
                                </span>
                        </div>
                    </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text">cities</span><br>
                                <span class="uk-label uk-label-success">
                                    {{visit['citesCount']}} 
 
                                </span>
                        </div>
                    </div>
                    </div>
                    <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-4@l">
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Website Traffic
                                </div>
                                <div class="uk-card-body">
                                    <canvas id="chart1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Social Traffic
                                </div>
                                <div class="uk-card-body">
                                    <canvas id="chart2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Countries Traffic
                                </div>
                                <div class="uk-card-body">
                                    <canvas id="chart3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    Languges Traffic
                                </div>
                                <div class="uk-card-body">
                                    <canvas id="chart4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-section-small">
            <!-- <div class="uk-card uk-card-default"> -->
                <div class="uk-card-header">
                    Visits Log
                </div>
                <div style="
                width: 100%;
                height: 40vh;
                overflow: scroll;" 
                class="uk-overflow-auto">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <!-- <th>#ID</th> -->
                                <th>IP</th>
                                <th>ReverseDNS</th>
                                <th>CurrentURL</th>
                                <th>RefererURL</th>
                                <th>Device</th>
                                <th>OS</th>
                                <th>Browser</th>
                                <th>Language</th>
                                <th>CountryCode</th>
                                <th>CountryName</th>
                                <th>RegionCode</th>
                                <th>RegionName</th>
                                <th>City</th>
                                <th>Zipcode</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>isProxy</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for visits in visit['AllData'] %}
                                    <tr>
                                    {% for vu in visits %}
                                        {% if vu == 10 %}
                                            {# break #}
                                        {% endif %}
                                        <td>{{ vu }}</td>
                                    {% else %}
                                        No users have been found.
                                    {% endfor %}
                                    </tr>
                                {% else %}
                                    No users have been found.
                                {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            <!-- </div> -->
        </div>
    </div>

    <script>
        var ctx = $("#chart1");

var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [
        {
            label: "Website traffic",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "#F44336",
            borderColor: "#F44336",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#F44336",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "#F44336",
            pointHoverBorderColor: "#F44336",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [103265, 128259, 22290, 115923, 91238, 108295, 102295, 457689, 457689, 012345, 457689, 457689],
            spanGaps: false,
        }
    ]
};

var options = {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
        display: false,
    },
    tooltips: {
        bodyFontColor: '#fff',
    },
    scales: {
            yAxes: [{
                gridLines: {
                    display: false,
                },
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                }
            }]
        }
}

var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
});




</script>
{# social Traffic #}
<script> 
var sak= JSON.parse('{{ visit["social_analysis_key"]|json_encode|raw }}');
var sav= JSON.parse('{{ visit["social_analysis_value"]|json_encode|raw }}');
var ctx = $("#chart2");
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
var data = {
    labels: sak,
    datasets: [
        {
            label: "Website traffic",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "#F44336",
            borderColor: "#F44336",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#F44336",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "#F44336",
            pointHoverBorderColor: "#F44336",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: sav,
            spanGaps: false,
        }
    ]
};

var options = {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
        display: false,
    },
    tooltips: {
        bodyFontColor: '#fff',
    },
    scales: {
            yAxes: [{
                gridLines: {
                    display: false,
                },
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                }
            }]
        }
}

var myLineChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options
});
</script>


</script>
{# social country #}
<script> 
var sak= JSON.parse('{{ visit["country_analysis_key"]|json_encode|raw }}');
var sav= JSON.parse('{{ visit["country_analysis_value"]|json_encode|raw }}');
var ctx = $("#chart3");
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
var data = {
    labels: sak,
    datasets: [
        {
            label: "Website traffic",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "#F44336",
            borderColor: "#F44336",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#F44336",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "#F44336",
            pointHoverBorderColor: "#F44336",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: sav,
            spanGaps: false,
        }
    ]
};

var options = {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
        display: false,
    },
    tooltips: {
        bodyFontColor: '#fff',
    },
    scales: {
            yAxes: [{
                gridLines: {
                    display: false,
                },
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                }
            }]
        }
}

var myLineChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options
});
</script>


</script>
{# languge Traffic #}
<script> 
var sak= JSON.parse('{{ visit["languge_analysis_key"]|json_encode|raw }}');
var sav= JSON.parse('{{ visit["languge_analysis_value"]|json_encode|raw }}');
var ctx = $("#chart4");
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
var data = {
    labels: sak,
    datasets: [
        {
            label: "Website traffic",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "#F44336",
            borderColor: "#F44336",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#F44336",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "#F44336",
            pointHoverBorderColor: "#F44336",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: sav,
            spanGaps: false,
        }
    ]
};

var options = {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
        display: false,
    },
    tooltips: {
        bodyFontColor: '#fff',
    },
    scales: {
            yAxes: [{
                gridLines: {
                    display: false,
                },
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                }
            }]
        }
}

var myLineChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options
});
</script>